:root, body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-family: monospace;
  background: #000;
  color: #FFF;
}

#game-title {
  background-image: url('../tile.png');
  background-size: 40px;
  background-repeat: repeat-x;
  padding-top: 60px;
  margin-top: 0;
}

#game-section {
  display: none;
  text-align: center;
  box-sizing: border-box;
}

#game-status {
  font-style: italic;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
}

.button-container {
  /* position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%); */
}

.button-container button {
  margin: 5px;
}

#game-result {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

select, input, button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}