#root,
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: ui-monospace;
  background: #000;
  color: #FFF;
  font-size: 110%;
  min-height: 100vh;
}

pre {
  font-family: ui-monospace;
}

h1#game-title {
  padding-top: 10px;
  margin: 0;
}

#game-section {
  text-align: center;
  box-sizing: border-box;
}

#game-status {
  font-style: italic;
  padding: 5px;
  margin: 5px;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
}

.button-container {
  /* position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%); */
}

.button-container button {
  margin: 5px;
}

#game-result {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

select,
input,
button {
  background: #001fe1;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

label {
  margin-right: 5px;
}

.leaderboard {
  position: relative;
  display: inline-block;
  background: #000;
  border: 11px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.leaderboard table {
  margin: auto;
  font-size: 150%;
}

.leaderboard table td {
  background: rgba(255, 166, 0, 0.7);
  color: black;
}

.leaderboard table tr.isYou td {
  background: orange;
  font-weight: bold;
}


.panel {
  background-color: rgb(100 194 255 / 60%);
  padding: 1vh 2vw;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 1.2;
  min-height: 2.5em;
  position: relative;
  z-index: 1000;
}

.panel button {
  font-size: 108%;
}

#options {
  display: flex;
  gap: 5px;
  align-items: center;
}

.panel label {
  font-weight: 700;
  font-size: 110%;
}

#grid-size {
  margin-right: 1em;
}

h3 {
  margin: 0;
}








canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}






.floatingbg {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

.floatingbg {
  display: block;
  font-size: 52px;
  color: transparent;
}

.floatingbg::before,
.floatingbg::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 5em;
  height: 5em;
  content: ".";
  mix-blend-mode: screen;
  animation: 60s -27s move infinite ease-in-out alternate;
}

.floatingbg::before {
  text-shadow: 0.5490857501em 1.8317008961em 7px hsla(22.5323393055deg, 100%, 50%, 0.9), 0.0547723682em 0.5382449885em 7px hsla(28.7842393194deg, 100%, 50%, 0.9), -0.0167644985em 1.4742219148em 7px hsla(353.5382570988deg, 100%, 50%, 0.9), 1.7312123516em 1.4694148037em 7px hsla(314.3534712665deg, 100%, 50%, 0.9), 1.2315879673em 1.3944774613em 7px hsla(115.2929472974deg, 100%, 50%, 0.9), -0.3478533076em 1.7966910437em 7px hsla(139.7440197945deg, 100%, 50%, 0.9), 2.1764602429em 2.2610593168em 7px hsla(67.3182159915deg, 100%, 50%, 0.9), 2.0179766677em 1.0338943543em 7px hsla(171.24411877deg, 100%, 50%, 0.9), 2.3050563622em -0.1095187481em 7px hsla(124.059316068deg, 100%, 50%, 0.9), 0.7039345948em 0.7369558835em 7px hsla(210.8701488531deg, 100%, 50%, 0.9), 1.6281791766em -0.1255163258em 7px hsla(58.2626657748deg, 100%, 50%, 0.9), 0.1190495523em -0.0899491619em 7px hsla(340.3321076482deg, 100%, 50%, 0.9), -0.2184085423em 1.8124114936em 7px hsla(55.8547917439deg, 100%, 50%, 0.9), 0.6938893297em 0.4740481618em 7px hsla(157.4304920711deg, 100%, 50%, 0.9), 2.4321289456em 1.7268565312em 7px hsla(205.5376697887deg, 100%, 50%, 0.9), 2.2171777952em 0.7873652319em 7px hsla(253.2668027111deg, 100%, 50%, 0.9), 1.0253874155em 0.715255732em 7px hsla(213.8080589751deg, 100%, 50%, 0.9), 0.7157666318em 1.6850187561em 7px hsla(312.3208386153deg, 100%, 50%, 0.9), 1.5396546568em 0.4302903108em 7px hsla(343.4017217206deg, 100%, 50%, 0.9), 0.0352371656em 0.7879043954em 7px hsla(12.9760245414deg, 100%, 50%, 0.9), -0.0387432824em 0.4140222272em 7px hsla(52.0246970894deg, 100%, 50%, 0.9), 1.3089940372em 0.364000308em 7px hsla(242.8678678318deg, 100%, 50%, 0.9), 0.0718122131em 1.5616896873em 7px hsla(118.8093621687deg, 100%, 50%, 0.9), 0.9873126226em 1.8220162122em 7px hsla(231.7725610193deg, 100%, 50%, 0.9), 1.7206766152em 0.1067736741em 7px hsla(140.1137463366deg, 100%, 50%, 0.9), 2.1904179015em 1.7942508244em 7px hsla(131.0774723924deg, 100%, 50%, 0.9), 0.0546907284em 1.5329108971em 7px hsla(31.0773859525deg, 100%, 50%, 0.9), 1.8049865362em 0.8170517573em 7px hsla(122.9349470423deg, 100%, 50%, 0.9), 1.8041677078em 1.034067297em 7px hsla(8.1580466322deg, 100%, 50%, 0.9), -0.3281138406em -0.0913832797em 7px hsla(11.2930931162deg, 100%, 50%, 0.9), -0.1972067835em 1.0757758352em 7px hsla(64.9818861151deg, 100%, 50%, 0.9), -0.0836079552em 1.8663169504em 7px hsla(115.37565939deg, 100%, 50%, 0.9), 2.1599722408em 0.1709172265em 7px hsla(206.7941215338deg, 100%, 50%, 0.9), 0.5738395256em 2.1233917802em 7px hsla(18.3447877528deg, 100%, 50%, 0.9), 1.2717997812em -0.147439176em 7px hsla(195.9949783674deg, 100%, 50%, 0.9), 1.4499256134em 1.0970786737em 7px hsla(175.8503147244deg, 100%, 50%, 0.9), 2.1222087739em 1.381952289em 7px hsla(260.935883478deg, 100%, 50%, 0.9), 2.1731638867em 2.3057857868em 7px hsla(259.2185797593deg, 100%, 50%, 0.9), 1.8245446488em -0.0586262501em 7px hsla(358.0689431728deg, 100%, 50%, 0.9), 0.7724080267em 1.2915153655em 7px hsla(249.4093581786deg, 100%, 50%, 0.9), 0.7277894935em -0.4391228454em 7px hsla(97.2124025126deg, 100%, 50%, 0.9);
  animation-duration: 30s;
  animation-delay: -27s;
}

.floatingbg::after {
  text-shadow: -0.2735661776em 1.4415975472em 7px hsla(4.7496432533deg, 100%, 50%, 0.9), 1.559820307em 1.0579557982em 7px hsla(112.1292711966deg, 100%, 50%, 0.9), 2.1723457043em -0.3180723281em 7px hsla(32.6795620142deg, 100%, 50%, 0.9), 2.0241528077em 0.8573696737em 7px hsla(124.4594758329deg, 100%, 50%, 0.9), 1.1915103425em 1.6101623133em 7px hsla(281.231112509deg, 100%, 50%, 0.9), 2.3680934412em 1.3777002964em 7px hsla(51.909088862deg, 100%, 50%, 0.9), 1.8037218753em 1.960423658em 7px hsla(84.536154072deg, 100%, 50%, 0.9), 1.5928870581em 2.1136082358em 7px hsla(258.0279431177deg, 100%, 50%, 0.9), 1.9691499697em 2.2221841405em 7px hsla(118.2167286833deg, 100%, 50%, 0.9), 1.9989577812em -0.1865149942em 7px hsla(338.2370816777deg, 100%, 50%, 0.9), -0.1699695721em 0.3393142231em 7px hsla(315.6351785721deg, 100%, 50%, 0.9), 2.4833346663em 1.4012905614em 7px hsla(100.8997295584deg, 100%, 50%, 0.9), 2.4664141287em 1.9727061082em 7px hsla(99.5812544331deg, 100%, 50%, 0.9), 1.4615778439em 1.7016112876em 7px hsla(228.0886492703deg, 100%, 50%, 0.9), 1.5692018254em 0.9147423796em 7px hsla(9.2586339398deg, 100%, 50%, 0.9), 2.3371926121em 0.3102616169em 7px hsla(154.4870362067deg, 100%, 50%, 0.9), 1.8273273461em -0.0333254758em 7px hsla(267.5880877507deg, 100%, 50%, 0.9), 0.5919747716em -0.1907845833em 7px hsla(98.3829571834deg, 100%, 50%, 0.9), 1.066197521em 0.895101565em 7px hsla(160.1838188868deg, 100%, 50%, 0.9), 0.6221587711em 1.1231021797em 7px hsla(50.9607243057deg, 100%, 50%, 0.9), 1.5546407726em 1.8557259772em 7px hsla(164.4011338153deg, 100%, 50%, 0.9), 0.820428539em 2.176540211em 7px hsla(70.0984230194deg, 100%, 50%, 0.9), -0.4801020044em 0.0451357797em 7px hsla(290.1734253183deg, 100%, 50%, 0.9), 1.4149031393em 1.333275536em 7px hsla(296.9626345874deg, 100%, 50%, 0.9), 0.367787607em 1.6276662974em 7px hsla(281.9796988222deg, 100%, 50%, 0.9), 0.0449001763em 0.876582471em 7px hsla(151.3904080944deg, 100%, 50%, 0.9), 0.6881751358em 0.1975893526em 7px hsla(169.4012468171deg, 100%, 50%, 0.9), 0.9821905757em 0.4261593647em 7px hsla(106.1554588853deg, 100%, 50%, 0.9), 0.2987358277em 0.4804058182em 7px hsla(87.0912050814deg, 100%, 50%, 0.9), 0.5264113757em 2.4636358935em 7px hsla(294.1374125546deg, 100%, 50%, 0.9), 1.3936801725em 0.2037441611em 7px hsla(127.3758220498deg, 100%, 50%, 0.9), 2.4937639003em 0.7725986673em 7px hsla(269.7923400606deg, 100%, 50%, 0.9), -0.0872920969em 0.0216845354em 7px hsla(197.9933100796deg, 100%, 50%, 0.9), 2.171754574em 1.1420061185em 7px hsla(147.5556576164deg, 100%, 50%, 0.9), 2.4681768777em 0.7407255121em 7px hsla(101.8757427418deg, 100%, 50%, 0.9), -0.4270803374em 0.7337729284em 7px hsla(22.5567983708deg, 100%, 50%, 0.9), 0.3264873919em 1.6093599425em 7px hsla(91.4782492832deg, 100%, 50%, 0.9), 2.2664154007em 1.8282423332em 7px hsla(184.1752191336deg, 100%, 50%, 0.9), 2.4634192186em 1.414861154em 7px hsla(212.5921776522deg, 100%, 50%, 0.9), 0.46237489em -0.3839948773em 7px hsla(207.4299337756deg, 100%, 50%, 0.9), 0.4918261079em 2.2727962151em 7px hsla(231.002359396deg, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

.floatingbg::before {
  text-shadow: 0.2831040813em 2.3168617676em 7px hsla(238.6094043439deg, 100%, 50%, 0.9), 0.3268242322em 0.2879613658em 7px hsla(69.7512189579deg, 100%, 50%, 0.9), -0.0826141892em 1.0807232553em 7px hsla(93.2074028442deg, 100%, 50%, 0.9), -0.2126811052em 0.2176716588em 7px hsla(158.8112068193deg, 100%, 50%, 0.9), 0.6162935755em 0.3719326488em 7px hsla(300.5165327572deg, 100%, 50%, 0.9), 1.1104022582em 0.0488001509em 7px hsla(293.4245023098deg, 100%, 50%, 0.9), 1.762093275em 1.3623755788em 7px hsla(279.3034715443deg, 100%, 50%, 0.9), 1.9279236524em -0.1247066869em 7px hsla(351.8883168266deg, 100%, 50%, 0.9), 0.7937172787em 0.7946883358em 7px hsla(127.3376950462deg, 100%, 50%, 0.9), 1.2078499719em 0.8990315446em 7px hsla(13.5969086575deg, 100%, 50%, 0.9), 1.017701148em 1.6028819913em 7px hsla(140.0217955647deg, 100%, 50%, 0.9), -0.1331350286em 0.7772314774em 7px hsla(44.1423980019deg, 100%, 50%, 0.9), 0.0229239599em -0.162789398em 7px hsla(236.6055791248deg, 100%, 50%, 0.9), 0.9626163658em 0.7843342029em 7px hsla(231.0113971983deg, 100%, 50%, 0.9), 0.2803248921em 1.8697081239em 7px hsla(350.5392885401deg, 100%, 50%, 0.9), 2.2610505274em 0.0474553952em 7px hsla(166.2330450879deg, 100%, 50%, 0.9), 0.42841557em 0.049798522em 7px hsla(199.7794648609deg, 100%, 50%, 0.9), -0.2798490419em -0.0126870722em 7px hsla(89.4332607629deg, 100%, 50%, 0.9), -0.0605400081em 0.8020209517em 7px hsla(18.823550071deg, 100%, 50%, 0.9), 0.7700543482em -0.0607677934em 7px hsla(177.1033089659deg, 100%, 50%, 0.9), -0.4020917479em 1.3453029071em 7px hsla(258.6703120499deg, 100%, 50%, 0.9), 1.8855598733em 1.9778181376em 7px hsla(252.7916622948deg, 100%, 50%, 0.9), 0.3590640416em 1.0083336154em 7px hsla(6.4819251091deg, 100%, 50%, 0.9), 0.3779978064em 2.153746726em 7px hsla(122.8946542712deg, 100%, 50%, 0.9), 1.2083586969em 2.1447879622em 7px hsla(326.8644015649deg, 100%, 50%, 0.9), 2.2650187791em 0.0780221934em 7px hsla(335.6718579801deg, 100%, 50%, 0.9), -0.0777423439em 0.0165372733em 7px hsla(307.2666902741deg, 100%, 50%, 0.9), 1.8704731122em 0.8645260549em 7px hsla(301.1310227347deg, 100%, 50%, 0.9), 0.1988605027em -0.1487997987em 7px hsla(306.2513207744deg, 100%, 50%, 0.9), 2.1317545688em 2.3953258297em 7px hsla(346.2742945502deg, 100%, 50%, 0.9), 1.3787081113em 0.5270568157em 7px hsla(28.4473324251deg, 100%, 50%, 0.9), 0.022425449em -0.1566925712em 7px hsla(324.151089533deg, 100%, 50%, 0.9), 1.878347704em -0.1205564569em 7px hsla(348.6213447395deg, 100%, 50%, 0.9), 0.7806327568em 1.5244799421em 7px hsla(176.964328864deg, 100%, 50%, 0.9), 1.1975211824em -0.2957823327em 7px hsla(51.979307221deg, 100%, 50%, 0.9), 0.3466476765em 1.2658616226em 7px hsla(232.5125663357deg, 100%, 50%, 0.9), -0.0865206485em 2.2944528131em 7px hsla(190.8605986581deg, 100%, 50%, 0.9), 0.3575194341em 0.3279133554em 7px hsla(177.5045776239deg, 100%, 50%, 0.9), 0.8253611161em 1.0239655559em 7px hsla(206.234767127deg, 100%, 50%, 0.9), 2.4920495525em 2.2116394787em 7px hsla(200.6255688424deg, 100%, 50%, 0.9), 1.3528879559em 0.1341059125em 7px hsla(167.1354762781deg, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -30s;
}

.floatingbg::after {
  text-shadow: 1.651166032em 2.4747323149em 7px hsla(262.8940747411deg, 100%, 50%, 0.9), 1.872375805em 1.5947325559em 7px hsla(35.4915639373deg, 100%, 50%, 0.9), -0.042140287em 1.3121535693em 7px hsla(253.0845761411deg, 100%, 50%, 0.9), 1.1057733153em 0.8305814128em 7px hsla(115.736660972deg, 100%, 50%, 0.9), 2.2313960048em 0.7629352146em 7px hsla(200.541774903deg, 100%, 50%, 0.9), 0.3371627212em -0.3659325504em 7px hsla(198.5570134741deg, 100%, 50%, 0.9), 0.0377001776em 0.7320576151em 7px hsla(65.1148259448deg, 100%, 50%, 0.9), 0.7190275855em 0.915289847em 7px hsla(233.9035054172deg, 100%, 50%, 0.9), 2.1737265215em -0.2813587252em 7px hsla(275.3767865878deg, 100%, 50%, 0.9), 1.0769684351em -0.0378677666em 7px hsla(213.9682771389deg, 100%, 50%, 0.9), 0.6462248096em 1.3652190213em 7px hsla(229.4019284085deg, 100%, 50%, 0.9), 0.3814713236em -0.1160636719em 7px hsla(242.876291307deg, 100%, 50%, 0.9), 0.4335009212em 2.2114708486em 7px hsla(304.2793367415deg, 100%, 50%, 0.9), 2.3683181271em 1.8521756736em 7px hsla(318.8899270581deg, 100%, 50%, 0.9), 0.3845865889em -0.4863444596em 7px hsla(92.6249189658deg, 100%, 50%, 0.9), 2.165228357em -0.0403228325em 7px hsla(90.9459193952deg, 100%, 50%, 0.9), 1.1891550902em 1.2003693305em 7px hsla(16.2714403897deg, 100%, 50%, 0.9), 1.6517646943em 0.9335008055em 7px hsla(136.71492615deg, 100%, 50%, 0.9), 0.7340394661em 1.3837313626em 7px hsla(255.8506172157deg, 100%, 50%, 0.9), 1.649059403em 0.2022971718em 7px hsla(287.6663163637deg, 100%, 50%, 0.9), 1.6088036928em 1.3393845161em 7px hsla(185.3349212412deg, 100%, 50%, 0.9), -0.3172063595em 2.4336172799em 7px hsla(221.374743835deg, 100%, 50%, 0.9), 0.7249652367em -0.2810756314em 7px hsla(200.7454042918deg, 100%, 50%, 0.9), 1.9345654228em 0.8448775537em 7px hsla(203.2229596deg, 100%, 50%, 0.9), 0.7542114983em -0.0176838077em 7px hsla(355.1051507142deg, 100%, 50%, 0.9), 1.4145681133em 0.1711263898em 7px hsla(35.1679878751deg, 100%, 50%, 0.9), 0.9622510772em 2.1578372219em 7px hsla(166.0817773745deg, 100%, 50%, 0.9), 0.8807814881em 1.0935477673em 7px hsla(156.4098049258deg, 100%, 50%, 0.9), 0.574736369em 1.9792830596em 7px hsla(118.2979857556deg, 100%, 50%, 0.9), 0.6566689833em 1.0825200178em 7px hsla(201.3861071864deg, 100%, 50%, 0.9), 0.6845079993em 1.44844042em 7px hsla(24.2330856215deg, 100%, 50%, 0.9), -0.3203310778em 2.1523671098em 7px hsla(178.9023358378deg, 100%, 50%, 0.9), 0.4572195291em 1.0722264025em 7px hsla(90.1335779689deg, 100%, 50%, 0.9), 2.1687011051em 0.8077037803em 7px hsla(46.2964156794deg, 100%, 50%, 0.9), 1.4020548796em 0.7875100144em 7px hsla(302.3700612274deg, 100%, 50%, 0.9), 0.3611614532em -0.3385097109em 7px hsla(153.6280129414deg, 100%, 50%, 0.9), -0.3144009944em 1.9482648475em 7px hsla(347.4273558289deg, 100%, 50%, 0.9), 1.7990890348em 0.6530553047em 7px hsla(239.5260735605deg, 100%, 50%, 0.9), 1.5381399624em 2.4622459348em 7px hsla(246.659331035deg, 100%, 50%, 0.9), 1.0217544397em 1.8248253738em 7px hsla(187.724365462deg, 100%, 50%, 0.9), 0.9054858232em 1.5260582098em 7px hsla(17.8626898996deg, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }

  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

.app-container {
  /* font-size: 14px; */
  height: 100vh;
  z-index: 100;
  position: relative;
}