#root,
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: ui-monospace;
  background: rgb(0,0,0,0.7);
  /* background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png'); */
  color: #FFF;
  font-size: 110%;
  min-height: 100vh;
}






.floatingbg {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

.floatingbg {
  display: block;
  font-size: 52px;
  color: transparent;
}

.floatingbg::before,
.floatingbg::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 5em;
  height: 5em;
  content: ".";
  mix-blend-mode: screen;
  animation: 60s -27s move infinite ease-in-out alternate;
}

.floatingbg::before {
  text-shadow: 0.5490857501em 1.8317008961em 7px hsla(22.5323393055deg, 100%, 50%, 0.9), 0.0547723682em 0.5382449885em 7px hsla(28.7842393194deg, 100%, 50%, 0.9), -0.0167644985em 1.4742219148em 7px hsla(353.5382570988deg, 100%, 50%, 0.9), 1.7312123516em 1.4694148037em 7px hsla(314.3534712665deg, 100%, 50%, 0.9), 1.2315879673em 1.3944774613em 7px hsla(115.2929472974deg, 100%, 50%, 0.9), -0.3478533076em 1.7966910437em 7px hsla(139.7440197945deg, 100%, 50%, 0.9), 2.1764602429em 2.2610593168em 7px hsla(67.3182159915deg, 100%, 50%, 0.9), 2.0179766677em 1.0338943543em 7px hsla(171.24411877deg, 100%, 50%, 0.9), 2.3050563622em -0.1095187481em 7px hsla(124.059316068deg, 100%, 50%, 0.9), 0.7039345948em 0.7369558835em 7px hsla(210.8701488531deg, 100%, 50%, 0.9), 1.6281791766em -0.1255163258em 7px hsla(58.2626657748deg, 100%, 50%, 0.9), 0.1190495523em -0.0899491619em 7px hsla(340.3321076482deg, 100%, 50%, 0.9), -0.2184085423em 1.8124114936em 7px hsla(55.8547917439deg, 100%, 50%, 0.9), 0.6938893297em 0.4740481618em 7px hsla(157.4304920711deg, 100%, 50%, 0.9), 2.4321289456em 1.7268565312em 7px hsla(205.5376697887deg, 100%, 50%, 0.9), 2.2171777952em 0.7873652319em 7px hsla(253.2668027111deg, 100%, 50%, 0.9), 1.0253874155em 0.715255732em 7px hsla(213.8080589751deg, 100%, 50%, 0.9), 0.7157666318em 1.6850187561em 7px hsla(312.3208386153deg, 100%, 50%, 0.9), 1.5396546568em 0.4302903108em 7px hsla(343.4017217206deg, 100%, 50%, 0.9), 0.0352371656em 0.7879043954em 7px hsla(12.9760245414deg, 100%, 50%, 0.9), -0.0387432824em 0.4140222272em 7px hsla(52.0246970894deg, 100%, 50%, 0.9), 1.3089940372em 0.364000308em 7px hsla(242.8678678318deg, 100%, 50%, 0.9), 0.0718122131em 1.5616896873em 7px hsla(118.8093621687deg, 100%, 50%, 0.9), 0.9873126226em 1.8220162122em 7px hsla(231.7725610193deg, 100%, 50%, 0.9), 1.7206766152em 0.1067736741em 7px hsla(140.1137463366deg, 100%, 50%, 0.9), 2.1904179015em 1.7942508244em 7px hsla(131.0774723924deg, 100%, 50%, 0.9), 0.0546907284em 1.5329108971em 7px hsla(31.0773859525deg, 100%, 50%, 0.9), 1.8049865362em 0.8170517573em 7px hsla(122.9349470423deg, 100%, 50%, 0.9), 1.8041677078em 1.034067297em 7px hsla(8.1580466322deg, 100%, 50%, 0.9), -0.3281138406em -0.0913832797em 7px hsla(11.2930931162deg, 100%, 50%, 0.9), -0.1972067835em 1.0757758352em 7px hsla(64.9818861151deg, 100%, 50%, 0.9), -0.0836079552em 1.8663169504em 7px hsla(115.37565939deg, 100%, 50%, 0.9), 2.1599722408em 0.1709172265em 7px hsla(206.7941215338deg, 100%, 50%, 0.9), 0.5738395256em 2.1233917802em 7px hsla(18.3447877528deg, 100%, 50%, 0.9), 1.2717997812em -0.147439176em 7px hsla(195.9949783674deg, 100%, 50%, 0.9), 1.4499256134em 1.0970786737em 7px hsla(175.8503147244deg, 100%, 50%, 0.9), 2.1222087739em 1.381952289em 7px hsla(260.935883478deg, 100%, 50%, 0.9), 2.1731638867em 2.3057857868em 7px hsla(259.2185797593deg, 100%, 50%, 0.9), 1.8245446488em -0.0586262501em 7px hsla(358.0689431728deg, 100%, 50%, 0.9), 0.7724080267em 1.2915153655em 7px hsla(249.4093581786deg, 100%, 50%, 0.9), 0.7277894935em -0.4391228454em 7px hsla(97.2124025126deg, 100%, 50%, 0.9);
  animation-duration: 30s;
  animation-delay: -27s;
}

.floatingbg::after {
  text-shadow: -0.2735661776em 1.4415975472em 7px hsla(4.7496432533deg, 100%, 50%, 0.9), 1.559820307em 1.0579557982em 7px hsla(112.1292711966deg, 100%, 50%, 0.9), 2.1723457043em -0.3180723281em 7px hsla(32.6795620142deg, 100%, 50%, 0.9), 2.0241528077em 0.8573696737em 7px hsla(124.4594758329deg, 100%, 50%, 0.9), 1.1915103425em 1.6101623133em 7px hsla(281.231112509deg, 100%, 50%, 0.9), 2.3680934412em 1.3777002964em 7px hsla(51.909088862deg, 100%, 50%, 0.9), 1.8037218753em 1.960423658em 7px hsla(84.536154072deg, 100%, 50%, 0.9), 1.5928870581em 2.1136082358em 7px hsla(258.0279431177deg, 100%, 50%, 0.9), 1.9691499697em 2.2221841405em 7px hsla(118.2167286833deg, 100%, 50%, 0.9), 1.9989577812em -0.1865149942em 7px hsla(338.2370816777deg, 100%, 50%, 0.9), -0.1699695721em 0.3393142231em 7px hsla(315.6351785721deg, 100%, 50%, 0.9), 2.4833346663em 1.4012905614em 7px hsla(100.8997295584deg, 100%, 50%, 0.9), 2.4664141287em 1.9727061082em 7px hsla(99.5812544331deg, 100%, 50%, 0.9), 1.4615778439em 1.7016112876em 7px hsla(228.0886492703deg, 100%, 50%, 0.9), 1.5692018254em 0.9147423796em 7px hsla(9.2586339398deg, 100%, 50%, 0.9), 2.3371926121em 0.3102616169em 7px hsla(154.4870362067deg, 100%, 50%, 0.9), 1.8273273461em -0.0333254758em 7px hsla(267.5880877507deg, 100%, 50%, 0.9), 0.5919747716em -0.1907845833em 7px hsla(98.3829571834deg, 100%, 50%, 0.9), 1.066197521em 0.895101565em 7px hsla(160.1838188868deg, 100%, 50%, 0.9), 0.6221587711em 1.1231021797em 7px hsla(50.9607243057deg, 100%, 50%, 0.9), 1.5546407726em 1.8557259772em 7px hsla(164.4011338153deg, 100%, 50%, 0.9), 0.820428539em 2.176540211em 7px hsla(70.0984230194deg, 100%, 50%, 0.9), -0.4801020044em 0.0451357797em 7px hsla(290.1734253183deg, 100%, 50%, 0.9), 1.4149031393em 1.333275536em 7px hsla(296.9626345874deg, 100%, 50%, 0.9), 0.367787607em 1.6276662974em 7px hsla(281.9796988222deg, 100%, 50%, 0.9), 0.0449001763em 0.876582471em 7px hsla(151.3904080944deg, 100%, 50%, 0.9), 0.6881751358em 0.1975893526em 7px hsla(169.4012468171deg, 100%, 50%, 0.9), 0.9821905757em 0.4261593647em 7px hsla(106.1554588853deg, 100%, 50%, 0.9), 0.2987358277em 0.4804058182em 7px hsla(87.0912050814deg, 100%, 50%, 0.9), 0.5264113757em 2.4636358935em 7px hsla(294.1374125546deg, 100%, 50%, 0.9), 1.3936801725em 0.2037441611em 7px hsla(127.3758220498deg, 100%, 50%, 0.9), 2.4937639003em 0.7725986673em 7px hsla(269.7923400606deg, 100%, 50%, 0.9), -0.0872920969em 0.0216845354em 7px hsla(197.9933100796deg, 100%, 50%, 0.9), 2.171754574em 1.1420061185em 7px hsla(147.5556576164deg, 100%, 50%, 0.9), 2.4681768777em 0.7407255121em 7px hsla(101.8757427418deg, 100%, 50%, 0.9), -0.4270803374em 0.7337729284em 7px hsla(22.5567983708deg, 100%, 50%, 0.9), 0.3264873919em 1.6093599425em 7px hsla(91.4782492832deg, 100%, 50%, 0.9), 2.2664154007em 1.8282423332em 7px hsla(184.1752191336deg, 100%, 50%, 0.9), 2.4634192186em 1.414861154em 7px hsla(212.5921776522deg, 100%, 50%, 0.9), 0.46237489em -0.3839948773em 7px hsla(207.4299337756deg, 100%, 50%, 0.9), 0.4918261079em 2.2727962151em 7px hsla(231.002359396deg, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}


@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }

  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

.app-container {
  /* font-size: 14px; */
  height: 100vh;
  z-index: 100;
  position: relative;
}